/* 이미지 크기 */
img{width: 100%;}


/* 컨텐츠 사이즈 - padding */
.mainContentSize{padding-inline: max(calc((100% - 1400px) / 2), var(--spacing)); box-sizing: border-box;}
.contentsSize, .contentsBox{max-width: 1200px; width: calc(100% - (var(--spacing) * 2)); margin-inline: auto;}
.contentsSize-padding{padding-inline: max(calc((100% - 1200px) / 2), var(--spacing)); box-sizing: border-box;}


/* 포인트 색상 */
mark.point01{color: var(--color-point01);}
mark.point02{color: var(--color-point02);}


/* 언더라인 */
.underLine{position: relative; text-decoration: underline; text-decoration-color: #DDE7FE; text-underline-offset: -5px; text-decoration-thickness: 15px; text-decoration-skip-ink: none;}


/* 아이콘, 이미지 배경처리 */
.iconBox, .imgBox{background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}


/* 사이드 메뉴 */
aside{position: fixed; right: 40px; height: 100%; display: flex; flex-direction: column; justify-content: center; z-index: 1;}
aside a{font-size: 16px; line-height: 22px; width: 140px; padding-block: 40px; color: white; aspect-ratio: 1; background-color: #FF6760; border: 5px solid white; border-radius: 100%; display: flex; flex-direction: column; align-items: center; box-sizing: border-box; position: relative;}
aside a::after{content: ''; width: 30px; aspect-ratio: 1; position: absolute; left: 50%; bottom: 15px; transform: translateX(-50%); background: url(../images/icon-go.png) no-repeat center / cover;}
aside a:not(:last-child){margin-bottom: 20px;}
aside a strong{font-weight: 700;}


/* 버튼 */
.btn-bg{width: 264px; line-height: 70px; font-size: 20px; font-weight: 700; color: white; text-align: center; background-color: var(--color-point01);}


/* 서버 페이지 공통 */
[class*="Page"]:not(.mainPage){padding-top: var(--headerHeight);}
[class*="Page"] > .contentsBox{text-align: center;}
[class*="Page"] > .contentsBox h2{font-size: 40px; font-weight: 700; color: var(--color-point01);}
[class*="Page"] > footer{margin-top: 200px;}
.topBox p:first-of-type{font-size: 50px; line-height: 66px; font-weight: 200;}
.topBox p:first-of-type strong{font-weight: 600;}
/* 회사소게, 사업안내 공통 */
:is(.aboutAsPage, .businessPage) section h2 + p{font-size: 24px; line-height: 34px; margin-top: 30px; font-weight: 200;}
:is(.aboutAsPage, .businessPage) section h2 + p b{font-weight: 500;}
/* 사업안내, 연계고용 공통 */
:is(.businessPage, .employPage) .topBox{padding-block: 40px; display: flex; align-items: center; background-color: #F8FAFF;}
:is(.businessPage, .employPage) .topBox::before{content: ''; width: 340px; aspect-ratio: 1; background-repeat: no-repeat; background-position: center; background-size: cover;}
/* 회사소게 공통 */
.aboutAsPage section:not(:last-of-type){margin-bottom: 200px;}


/* 해더 */
header{position: fixed; left: 0; top: 0; width: 100%; display: flex; justify-content: space-between; align-items: center; z-index: 100;}
header h1{width: 94px;}
header h1 a{aspect-ratio: 94 / 60; display: block; background-image: url(../images/logo.png);}
header nav ul{display: flex; gap: 80px;}
header nav ul li a{font-size: 20px; line-height: var(--headerHeight); font-weight: 700;}
header nav ul li:last-child a{display: flex; align-items: center;}
header nav ul li:last-child a::before{content: ''; width: 30px; aspect-ratio: 30 / 24; background: url(../images/icon-inquiry.png) no-repeat center / cover; margin-right: 5px;}
header nav ul li.active a{text-decoration: underline; text-decoration-thickness: 3px; text-underline-offset: 10px;}
header .iconBox{display: none;}


/* 푸터 */
footer{padding-block: 80px; background-color: var(--color-face02); text-align: center;}
footer img{max-width: 287px; margin-bottom: 30px;}
footer address{font-size: 16px; line-height: 26px; max-width: 500px; font-weight: 300; color: var(--color-font02); display: flex; flex-wrap: wrap; justify-content: center; margin-inline: auto;}
footer address dl{display: flex; justify-content: center;}
footer address dl:nth-child(1){width: 100%;}
footer address :is(dl:nth-child(2), dl:nth-child(4))::after{content: '/'; margin-inline: 0.4em;}
footer address dl dt{display: flex; align-items: center;}
footer address dl dt::after{content: ':'; margin-inline: 0.4em;}