br.pc{display: none;}


/* 언더라인 */
.underLine{text-decoration-thickness: 10px;}


/* 사이드 메뉴 */
aside{position: fixed; bottom: 0; right: 0; width: 100%; height: 60px; justify-content: center; align-items: center; background-color: #FF6760;}
aside a{font-size: 14px; line-height: 17px; flex: 1;}
aside a:not(:last-of-type){border-right: 1px solid rgba(255, 255, 255, 0.3);}


/* 버튼 */
[class*="btn-"]{width: 320px; font-size: 16px;}
.btn-bg{line-height: 60px;}
.btn-border{line-height: 58px;}
.btnBox{max-width: 320px; gap: 10px; margin-top: 60px; margin-inline: auto;}
.btnBox [class*="btn-"], input[type="submit"]{flex: 1;}


/* 게시판 공통 */
.boardBox li a strong{font-size: 16px; margin-bottom: 5px;}
.boardBox li a time{font-size: 14px;}


/* 페이지네이션 */
.paginationBox{gap: 10px; margin-top: 60px;}
.paginationBox a{width: 26px;}
.paginationBox ol li a{line-height: 26px; font-size: 14px;}


/* 입력 폼 */
.inputBox ul{margin-bottom: 30px;}
.inputBox ul li:not(:last-child){margin-bottom: 30px;}
.inputBox ul li > label:first-child{font-size: 14px;}
.inputBox ul li div :is(input, textarea){padding: 16px 12px;}
.inputBox ul li div input{height: 50px;}
.inputBox ul li div textarea{height: 200px;}
.inputBox input[type="checkbox"] + label::before{margin-right: 7px;}
.inputBox + input[type="submit"]{margin-top: 60px;}


/* 서버 페이지 공통 */
[class*="Page"] > footer{margin-top: 100px;}
.topBox p:first-of-type{font-size: 28px; line-height: 36px;}
/* 회사소게, 사업안내, 사업안내, 연계고용 공통 */
:is(.aboutAsPage, .businessPage, .businessPage, [class*="employ"][class*="Page"]) > .contentsBox h2{font-size: 26px; line-height: 33px;}
/* 회사소게, 사업안내 공통 */
:is(.aboutAsPage, .businessPage) section h2 + p{font-size: 18px; line-height: 26px; margin-top: 20px;}
/* 사업안내, 연계고용 공통 */
:is(.businessPage, [class*="employ"][class*="Page"]) .topBox{text-align: center;}
:is(.businessPage, [class*="employ"][class*="Page"]) .topBox::after{display: block; width: 200px; margin-top: 20px; margin-inline: auto;}
/* 연계고용, 문의하기 공통 */
:is([class*="employ"][class*="Page"], .inquiryPage) section h2 + p,
.employPolicyPage section p,
.employCalculatorPage section section h3 + p{font-size: 15px; line-height: 22px;}
/* 회사소개, 상세 공통 */
:is(.aboutAsPage, .detailPage) .contentsBox{padding-top: 40px;}
/* 소식, 문의 공통 */
:is(.newsPage, .inquiryPage) .contentsBox{padding-top: 40px;}
:is(.newsPage, .inquiryPage) .contentsBox section h2{font-size: 32px;}
/* 회사소게 공통 */
.aboutAsPage section:not(:last-of-type){margin-bottom: 100px;}



/* 해더 */
body:has(header nav.active){overflow: hidden;}
header{height: var(--headerHeight);}
header h1{width: 54px;}
header nav{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
header nav.active{display: block;}
header nav ul{width: 260px; height: 100%; padding: 140px 30px; margin-left: auto; background-color: white; box-sizing: border-box; position: relative;}
header nav ul li a{font-size: 20px; line-height: var(--headerHeight); font-weight: 700;}
header nav ul li:last-child a{position: absolute; left: 50%; bottom: 40px; transform: translateX(-50%);}
header nav ul li:last-child a::before{width: 25px;}
header nav .iconBox{background-image: url(../images/icon-close.png); position: absolute; right: 12px; top: 10px; z-index: 10;}
header .iconBox{width: 38px; aspect-ratio: 1;}
header > .iconBox{background-image: url(../images/icon-menu.png);}
.mainPage.white header > .iconBox{background-image: url(../images/icon-menu-white.png); transition-delay: var(--duration);}


/* 푸터 */
footer{padding-block: 50px 106px; height: 290px;}
footer img{max-width: 168px; margin-bottom: 20px;}
footer address{font-size: 13px; line-height: 20px; max-width: 290px;}
footer address dl:nth-child(4)::after{content: '/'; margin-inline: 0.4em;}

