br.mobile{display: none;}


/* 언더라인 */
.underLine{text-decoration-thickness: 15px;}


/* 사이드 메뉴 */
aside{position: fixed; top: 0; right: 40px; height: 100%; flex-direction: column;}
aside a{font-size: 16px; line-height: 22px; width: 140px; padding-block: 40px; aspect-ratio: 1; background-color: #FF6760; border-radius: 100%; border: 5px solid white;}
aside a::after{content: ''; width: 30px; aspect-ratio: 1; position: absolute; left: 50%; bottom: 15px; transform: translateX(-50%); background: url(../images/icon-go.png) no-repeat center / cover;}
aside a:not(:last-child){margin-bottom: 20px;}


/* 버튼 */
[class*="btn-"]{width: 264px; font-size: 20px;}
.btn-bg{line-height: 70px;}
.btnBox{gap: 30px; margin-top: 100px;}
.btn-border{line-height: 68px;}
.btnBox [class*="btn-"], input[type="submit"]{width: 230px;}


/* 게시판 공통 */
.boardBox li a strong{font-size: 20px; margin-bottom: 10px;}
.boardBox li a time{font-size: 16px;}


/* 페이지네이션 */
.paginationBox{gap: 8px; margin-top: 80px;}
.paginationBox a{width: 30px;}
.paginationBox ol{margin-inline: 10px;}
.paginationBox ol li a{line-height: 30px; font-size: 16px;}


/* 입력 폼 */
.inputBox ul{margin-bottom: 40px;}
.inputBox ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
.inputBox ul li:not([class]){width: 46.667%;}
.inputBox ul li.full{width: 100%;}
.inputBox ul li:not(:last-child){margin-bottom: 40px;}
.inputBox ul li > label:first-child{font-size: 16px; margin-bottom: 12px;}
.inputBox ul li div :is(input, textarea){padding: 20px;}
.inputBox ul li div input{height: 60px;}
.inputBox ul li div textarea{height: 300px;}
.inputBox input[type="checkbox"] + label::before{margin-right: 10px;}
.inputBox + input[type="submit"]{margin-top: 100px;}


/* 서버 페이지 공통 */
[class*="Page"] > footer{margin-top: 200px;}
.topBox p:first-of-type{font-size: 50px; line-height: 66px;}
/* 회사소게, 사업안내, 사업안내, 연계고용 공통 */
:is(.aboutAsPage, .businessPage, .businessPage, [class*="employ"][class*="Page"]) > .contentsBox h2{font-size: 40px;}
/* 회사소게, 사업안내 공통 */
:is(.aboutAsPage, .businessPage) section h2 + p{font-size: 24px; line-height: 34px; margin-top: 30px;}
/* 사업안내, 연계고용 공통 */
:is(.businessPage, [class*="employ"][class*="Page"]) .topBox{display: flex; align-items: center;}
:is(.businessPage, [class*="employ"][class*="Page"]) .topBox::after{order: -1;}
/* 연계고용, 문의하기 공통 */
:is([class*="employ"][class*="Page"], .inquiryPage) section h2 + p,
.employPolicyPage section p,
.employCalculatorPage section section h3 + p{font-size: 18px; line-height: 24px;}
/* 회사소개, 상세 공통 */
:is(.aboutAsPage, .detailPage) .contentsBox{padding-top: 120px;}
/* 소식, 문의 공통 */
:is(.newsPage, .inquiryPage) .contentsBox{padding-top: 100px;}
:is(.newsPage, .inquiryPage) .contentsBox section h2{font-size: 50px;}
/* 회사소게 공통 */
.aboutAsPage section:not(:last-of-type){margin-bottom: 200px;}


/* 해더 */
header h1{width: 94px;}
header nav ul{display: flex; gap: 80px;}
header nav ul li a{font-size: 20px; line-height: var(--headerHeight);}
header nav ul li:last-child a::before{width: 30px;}
header nav ul li.active a{text-decoration: underline; text-decoration-thickness: 3px; text-underline-offset: 10px;}
header .iconBox{display: none;}


/* 푸터 */
footer{padding-block: 80px; height: 320px;}
footer img{max-width: 287px; margin-bottom: 30px;}
footer address{font-size: 16px; line-height: 26px; max-width: 500px;}
footer address :is(dl:nth-child(2), dl:nth-child(4))::after{content: '/'; margin-inline: 0.4em;}