/* 이미지 크기 */
img{width: 100%;}


/* 컨텐츠 사이즈 - padding */
.mainContentSize{padding-inline: max(calc((100% - 1400px) / 2), var(--spacing)); box-sizing: border-box;}
.contentsSize, .contentsBox{max-width: 1200px; width: calc(100% - (var(--spacing) * 2)); margin-inline: auto;}
.contentsSize-padding{padding-inline: max(calc((100% - 1200px) / 2), var(--spacing)); box-sizing: border-box;}


/* 포인트 색상 */
mark.point01{color: var(--color-point01);}
mark.point02{color: var(--color-point02);}


/* 언더라인 */
.underLine{position: relative; text-decoration: underline; text-decoration-color: #DDE7FE; text-underline-offset: -5px; text-decoration-skip-ink: none;}


/* 아이콘, 이미지 배경처리 */
.iconBox, .imgBox{background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}


/* 사이드 메뉴 */
aside{position: fixed; display: flex; justify-content: center; z-index: 1;}
aside a{color: white; display: flex; flex-direction: column; align-items: center; box-sizing: border-box; position: relative;}
aside a strong{font-weight: 700;}


/* 버튼 */
[class*="btn-"]{font-weight: 700; text-align: center;}
.btn-bg{color: white; background-color: var(--color-point01); border: none;}
.btn-border{line-height: 68px; color: var(--color-point01); border: 1px solid var(--color-point01); box-sizing: border-box;}
.btnBox{gap: 30px; margin-top: 100px; display: flex; justify-content: center; align-items: center;}
.btnBox [class*="btn-"], input[type="submit"]{width: 230px;}


/* 게시판 공통 */
.boardBox{display: flex;}
.boardBox li{width: 31.667%;}
.boardBox li a img{margin-bottom: 20px;}
.boardBox li a strong{font-size: 20px; margin-bottom: 10px; font-weight: 700; display: block;}
.boardBox li a time{font-size: 16px; font-weight: 400; color: var(--color-font03);}


/* 페이지네이션 */
.paginationBox{display: flex; justify-content: center; align-items: center; gap: 8px; margin-top: 80px;}
.paginationBox a{width: 30px;}
.paginationBox > a{aspect-ratio: 1; background: url(../images/icon-pagination.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / cover;}
.paginationBox ol{display: flex; align-items: center; gap: 10px; margin-inline: 10px;}
.paginationBox ol li a{line-height: 30px; font-size: 16px; font-weight: 400; text-align: center;}
.paginationBox ol li.active a{font-weight: 800; text-decoration: underline; text-decoration-thickness: 2px; text-underline-offset: 2px;}


/* 입력 폼 */
.inputBox label{cursor: pointer;}
.inputBox ul{margin-bottom: 40px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.inputBox ul li:not([class]){width: 46.667%;}
.inputBox ul li.full{width: 100%;}
.inputBox ul li:not(:last-child){margin-bottom: 40px;}
.inputBox ul li > label:first-child{font-size: 16px; margin-bottom: 12px; font-weight: 700; display: flex; align-items: start;}
.inputBox ul li:has(:required) > label:first-child::after{content: '*'; color: var(--color-point02);}
.inputBox ul li div :is(input, textarea){padding: 20px; width: 100%; border: 1px solid var(--color-line01); box-sizing: border-box;}
.inputBox ul li div :is(input, textarea)::placeholder{color: var(--color-font04);}
.inputBox ul li div input{height: 60px;}
.inputBox ul li div textarea{height: 300px;}
.inputBox input[type="checkbox"] + label::before{margin-right: 10px;}
.inputBox + input[type="submit"]{margin-top: 100px; display: block; margin-inline: auto;}

/* 체크박스 */
input[type="checkbox"] + label{font-size: 16px; display: flex; align-items: center;}
input[type="checkbox"] + label::before{content: ''; width: 22px; aspect-ratio: 1; --styleIdx: 0; background: url(../images/icon-checkbox.png) no-repeat center top calc(100% * var(--styleIdx)) / cover;}
input[type="checkbox"] + label b{font-weight: 700;}
input[type="checkbox"]:checked + label::before{--styleIdx: 1;}


/* 서버 페이지 공통 */
[class*="Page"]:not(.mainPage){padding-top: var(--headerHeight);}
.topBox p:first-of-type{font-weight: 200;}
.topBox p:first-of-type strong{font-weight: 600;}
/* 회사소게, 사업안내, 사업안내, 연계고용 공통 */
:is(.aboutAsPage, .businessPage, .businessPage, [class*="employ"][class*="Page"]) > .contentsBox{text-align: center;}
:is(.aboutAsPage, .businessPage, .businessPage, [class*="employ"][class*="Page"]) > .contentsBox h2{font-weight: 700; color: var(--color-point01);}
/* 회사소게, 사업안내 공통 */
:is(.aboutAsPage, .businessPage) section h2 + p{font-weight: 200;}
:is(.aboutAsPage, .businessPage) section h2 + p b{font-weight: 500;}
/* 사업안내, 연계고용 공통 */
:is(.businessPage, [class*="employ"][class*="Page"]) .topBox{padding-block: 40px; background-color: #F8FAFF;}
:is(.businessPage, [class*="employ"][class*="Page"]) .topBox::after{content: ''; width: 340px; aspect-ratio: 1; background-repeat: no-repeat; background-position: center; background-size: cover;}
/* 연계고용, 문의하기 공통 */
:is([class*="employ"][class*="Page"], .inquiryPage) section h2 + p,
.employPolicyPage section p,
.employCalculatorPage section section h3 + p{font-weight: 300;}
:is([class*="employ"][class*="Page"], .inquiryPage) section h2 + p{margin-top: 30px;}
/* 회사소개, 상세 공통 */
:is(.aboutAsPage, .detailPage) .contentsBox{padding-top: 120px;}
/* 소식, 문의 공통 */
:is(.newsPage, .inquiryPage) .contentsBox{padding-top: 100px;}
:is(.newsPage, .inquiryPage) .contentsBox section h2{font-size: 50px; font-weight: 700;}


/* 해더 */
header{position: fixed; left: 0; top: 0; width: 100%; display: flex; justify-content: space-between; align-items: center; z-index: 100;}
header h1 a{aspect-ratio: 94 / 60; display: block; background-image: url(../images/logo.png);}
header nav ul li a{display: flex; align-items: center; font-weight: 700;}
header nav ul li:last-child a::before{content: ''; aspect-ratio: 30 / 24; background: url(../images/icon-inquiry.png) no-repeat center / cover; margin-right: 5px;}


/* 푸터 */
footer{background-color: var(--color-face02); text-align: center;}
footer address{font-weight: 300; color: var(--color-font02); display: flex; flex-wrap: wrap; justify-content: center; margin-inline: auto;}
footer address dl{display: flex; justify-content: center;}
footer address dl:nth-child(1){width: 100%;}
footer address dl dt{display: flex; align-items: center;}
footer address dl dt::after{content: ':'; margin-inline: 0.4em;}