/* 메인 */
.mainPage .fullBox :is(div, section){justify-content: center;}
.mainPage .fullBox div{background-size: clamp(1000px, 62.5%, 1200px); background-position: bottom right 0;}
.mainPage .fullBox div span{font-size: 26px; line-height: 40px; margin-bottom: 102px;}
.mainPage .fullBox div span mark{font-size: 30px;}
.mainPage .fullBox div strong{font-size: 60px; line-height: 72px;}
.mainPage .fullBox div p{font-size: 18px; line-height: 26px; font-weight: 300; color: var(--color-font02);}
.mainPage .fullBox div a{font-size: 18px; margin-top: 60px;}
.mainPage .fullBox .newsArea ul li img{margin-bottom: 40px;}
.mainPage .fullBox .newsArea ul li b{font-size: 24px; margin-bottom: 15px;}
.mainPage .fullBox .newsArea ul li time{font-size: 18px;}
.mainPage .fullBox .newsArea > a{font-size: 18px; width: 203px; line-height: 60px; margin-top: 100px;}
.mainPage .paginationBox{position: fixed; left: 50px; top: 0; height: 100%; display: flex; flex-direction: column;}
.mainPage .paginationBox button{width: 50px; aspect-ratio: 1;}
.mainPage .paginationBox button:nth-of-type(1){margin-bottom: 33px;}
.mainPage .paginationBox button:nth-of-type(2){margin-top: 33px;}
.mainPage .paginationBox span{font-size: 24px;}
.mainPage .paginationBox span:nth-of-type(1){padding-bottom: 12px; margin-bottom: 12px; font-weight: 700; border-bottom: 1px solid black;}