:root{
    --color-point01: #092361;
    --color-point02: #FF2B22;
    --color-font01: #000000;
    --color-font02: #666666;
    --color-font03: #999999;
    --color-font04: #bbbbbb;
    --color-line01: #dedede;
    --color-line02: #eeeeee;
    --color-face01: #f1f1f1;
    --color-face02: #f8f8f8;
}